*.DS_Store
proj.win32/*.vcxproj
proj.win32/*.vcxproj.filters
proj.win32/*.vcxproj.user
proj.win32/.vs/*
proj.win32/CMakeCache.txt
proj.win32/CMakeFiles/*
proj.win32/Debug/*
proj.win32/Techies.dir/*
proj.win32/Techies.sln
proj.win32/Win32/*
proj.win32/bin/*
proj.win32/cmake_install.cmake
proj.win32/engine/*
proj.win32/lib/*
proj.win32/Techies.sln.DotSettings.user
proj.ios_mac/mac/cmake_install.cmake
proj.ios_mac/mac/CMakeCache.txt
proj.ios_mac/mac/CMakeFiles/*
proj.ios_mac/mac/CMakeScripts/*
proj.ios_mac/mac/engine/*
proj.ios_mac/mac/Techies.xcodeproj/*
proj.ios_mac/mac/bin/*
proj.ios_mac/mac/build/*
proj.ios_mac/mac/lib/*
proj.ios_mac/mac/Techies.build/*
proj.ios_mac/ios/cmake_install.cmake
proj.ios_mac/ios/CMakeCache.txt
proj.ios_mac/ios/CMakeFiles/*
proj.ios_mac/ios/CMakeScripts/*
proj.ios_mac/ios/engine/*
proj.ios_mac/ios/Techies.xcodeproj/*
